.nav {
  background-color: #4056A1;
  color: #FFFFFF;
  height: 120px;
  padding-left: 1.5em;
  padding-right: 1.5em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
}


.title {
  font-family: "Bungee", sans-serif;
  font-size: 40px;
}


.fa-solid {
  color: red;
}


@media only screen and (max-width: 1023px) {
  .nav {
    background-color: #f0a12b;
    background-image: url("https://www.transparenttextures.com/patterns/60-lines.png");
  }
}


@media only screen and (min-width: 1024px) {
  .header {
    width: 28.3%;
    float: left;
    margin-top: 8%;
    margin-left: 5%;
  }
  .container {
    width: 56.7%;
    float: right;
  }
 }